/argocd-kasten-controller/src/.vs/**
/argocd-kasten-controller/src/bin/**
/argocd-kasten-controller/src/obj/**
/argocd-labels-controller/src/.vs/**
/argocd-labels-controller/src/bin/**
/argocd-labels-controller/src/obj/**
/argocd-pinniped-controller/src/.vs/**
/argocd-pinniped-controller/src/bin/**
/argocd-pinniped-controller/src/obj/**
/argocd-register-controller/src/.vs/**
/argocd-register-controller/src/bin/**
/argocd-register-controller/src/obj/**